<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DeliveryproofMapper">
    
    <resultMap type="Deliveryproof" id="DeliveryproofResult">
        <result property="inproofid"    column="inproofid"    />
        <result property="proofno"    column="proofno"    />
        <result property="prosource"    column="prosource"    />
        <result property="orderno"    column="orderno"    />
        <result property="inboxno"    column="inboxno"    />
        <result property="iswmsCheck"    column="iswms_check"    />
        <result property="protype"    column="protype"    />
        <result property="prodate"    column="prodate"    />
        <result property="proempid"    column="proempid"    />
        <result property="partnerid"    column="partnerid"    />
        <result property="transportinfo"    column="transportinfo"    />
        <result property="prostate"    column="prostate"    />
        <result property="depotno"    column="depotno"    />
        <result property="totalvolume"    column="totalvolume"    />
        <result property="totalweight"    column="totalweight"    />
        <result property="prodesc"    column="prodesc"    />
        <result property="dataversion"    column="dataversion"    />
        <result property="data1"    column="data1"    />
        <result property="data2"    column="data2"    />
        <result property="data3"    column="data3"    />
        <result property="data4"    column="data4"    />
        <result property="data5"    column="data5"    />
        <result property="data6"    column="data6"    />
        <result property="data7"    column="data7"    />
        <result property="data8"    column="data8"    />
        <result property="data9"    column="data9"    />
        <result property="data10"    column="data10"    />
        <result property="orderTransactionId"    column="order_transaction_id"    />
        <result property="poNumber"    column="po_number"    />
        <result property="transactionType"    column="transaction_type"    />
        <result property="sendstate"    column="sendstate"    />
        <result property="executeempid"    column="executeempid"    />
        <result property="palletno"    column="palletno"    />
        <result property="transfertype"    column="transfertype"    />
        <result property="outproofid"    column="outproofid"    />
        <result property="outproofno"    column="outproofno"    />
        <result property="chukufangshi"    column="chukufangshi"    />
        <result property="sendStats"    column="send_stats"    />
    </resultMap>

    <sql id="selectDeliveryproofVo">
        select inproofid, proofno, prosource, orderno, inboxno, iswms_check, protype, prodate, proempid, partnerid, transportinfo, prostate, depotno, totalvolume, totalweight, prodesc, dataversion, data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, order_transaction_id, po_number, transaction_type, sendstate, executeempid, palletno, transfertype, outproofid, outproofno, chukufangshi, send_stats from deliveryproof
    </sql>

    <select id="selectDeliveryproofList" parameterType="Deliveryproof" resultMap="DeliveryproofResult">
        <include refid="selectDeliveryproofVo"/>
        <where>  
            <if test="proofno != null  and proofno != ''"> and proofno = #{proofno}</if>
            <if test="prosource != null  and prosource != ''"> and prosource = #{prosource}</if>
            <if test="orderno != null  and orderno != ''"> and orderno = #{orderno}</if>
            <if test="inboxno != null  and inboxno != ''"> and inboxno = #{inboxno}</if>
            <if test="iswmsCheck != null  and iswmsCheck != ''"> and iswms_check = #{iswmsCheck}</if>
            <if test="protype != null  and protype != ''"> and protype = #{protype}</if>
            <if test="prodate != null "> and prodate = #{prodate}</if>
            <if test="proempid != null "> and proempid = #{proempid}</if>
            <if test="partnerid != null "> and partnerid = #{partnerid}</if>
            <if test="transportinfo != null  and transportinfo != ''"> and transportinfo = #{transportinfo}</if>
            <if test="prostate != null "> and prostate = #{prostate}</if>
            <if test="depotno != null "> and depotno = #{depotno}</if>
            <if test="totalvolume != null "> and totalvolume = #{totalvolume}</if>
            <if test="totalweight != null "> and totalweight = #{totalweight}</if>
            <if test="prodesc != null  and prodesc != ''"> and prodesc = #{prodesc}</if>
            <if test="dataversion != null "> and dataversion = #{dataversion}</if>
            <if test="data1 != null  and data1 != ''"> and data1 = #{data1}</if>
            <if test="data2 != null  and data2 != ''"> and data2 = #{data2}</if>
            <if test="data3 != null  and data3 != ''"> and data3 = #{data3}</if>
            <if test="data4 != null  and data4 != ''"> and data4 = #{data4}</if>
            <if test="data5 != null  and data5 != ''"> and data5 = #{data5}</if>
            <if test="data6 != null  and data6 != ''"> and data6 = #{data6}</if>
            <if test="data7 != null  and data7 != ''"> and data7 = #{data7}</if>
            <if test="data8 != null  and data8 != ''"> and data8 = #{data8}</if>
            <if test="data9 != null  and data9 != ''"> and data9 = #{data9}</if>
            <if test="data10 != null  and data10 != ''"> and data10 = #{data10}</if>
            <if test="orderTransactionId != null  and orderTransactionId != ''"> and order_transaction_id = #{orderTransactionId}</if>
            <if test="poNumber != null  and poNumber != ''"> and po_number = #{poNumber}</if>
            <if test="transactionType != null  and transactionType != ''"> and transaction_type = #{transactionType}</if>
            <if test="sendstate != null "> and sendstate = #{sendstate}</if>
            <if test="executeempid != null "> and executeempid = #{executeempid}</if>
            <if test="palletno != null  and palletno != ''"> and palletno = #{palletno}</if>
            <if test="transfertype != null  and transfertype != ''"> and transfertype = #{transfertype}</if>
            <if test="outproofid != null "> and outproofid = #{outproofid}</if>
            <if test="outproofno != null  and outproofno != ''"> and outproofno = #{outproofno}</if>
            <if test="chukufangshi != null  and chukufangshi != ''"> and chukufangshi = #{chukufangshi}</if>
            <if test="sendStats != null  and sendStats != ''"> and send_stats = #{sendStats}</if>
        </where>
    </select>
    
    <select id="selectDeliveryproofByInproofid" parameterType="Long" resultMap="DeliveryproofResult">
        <include refid="selectDeliveryproofVo"/>
        where inproofid = #{inproofid}
    </select>
        
    <insert id="insertDeliveryproof" parameterType="Deliveryproof" useGeneratedKeys="true" keyProperty="inproofid">
        insert into deliveryproof
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="proofno != null">proofno,</if>
            <if test="prosource != null">prosource,</if>
            <if test="orderno != null">orderno,</if>
            <if test="inboxno != null">inboxno,</if>
            <if test="iswmsCheck != null">iswms_check,</if>
            <if test="protype != null and protype != ''">protype,</if>
            <if test="prodate != null">prodate,</if>
            <if test="proempid != null">proempid,</if>
            <if test="partnerid != null">partnerid,</if>
            <if test="transportinfo != null">transportinfo,</if>
            <if test="prostate != null">prostate,</if>
            <if test="depotno != null">depotno,</if>
            <if test="totalvolume != null">totalvolume,</if>
            <if test="totalweight != null">totalweight,</if>
            <if test="prodesc != null">prodesc,</if>
            <if test="dataversion != null">dataversion,</if>
            <if test="data1 != null">data1,</if>
            <if test="data2 != null">data2,</if>
            <if test="data3 != null">data3,</if>
            <if test="data4 != null">data4,</if>
            <if test="data5 != null">data5,</if>
            <if test="data6 != null">data6,</if>
            <if test="data7 != null">data7,</if>
            <if test="data8 != null">data8,</if>
            <if test="data9 != null">data9,</if>
            <if test="data10 != null">data10,</if>
            <if test="orderTransactionId != null">order_transaction_id,</if>
            <if test="poNumber != null">po_number,</if>
            <if test="transactionType != null">transaction_type,</if>
            <if test="sendstate != null">sendstate,</if>
            <if test="executeempid != null">executeempid,</if>
            <if test="palletno != null">palletno,</if>
            <if test="transfertype != null">transfertype,</if>
            <if test="outproofid != null">outproofid,</if>
            <if test="outproofno != null">outproofno,</if>
            <if test="chukufangshi != null">chukufangshi,</if>
            <if test="sendStats != null">send_stats,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="proofno != null">#{proofno},</if>
            <if test="prosource != null">#{prosource},</if>
            <if test="orderno != null">#{orderno},</if>
            <if test="inboxno != null">#{inboxno},</if>
            <if test="iswmsCheck != null">#{iswmsCheck},</if>
            <if test="protype != null and protype != ''">#{protype},</if>
            <if test="prodate != null">#{prodate},</if>
            <if test="proempid != null">#{proempid},</if>
            <if test="partnerid != null">#{partnerid},</if>
            <if test="transportinfo != null">#{transportinfo},</if>
            <if test="prostate != null">#{prostate},</if>
            <if test="depotno != null">#{depotno},</if>
            <if test="totalvolume != null">#{totalvolume},</if>
            <if test="totalweight != null">#{totalweight},</if>
            <if test="prodesc != null">#{prodesc},</if>
            <if test="dataversion != null">#{dataversion},</if>
            <if test="data1 != null">#{data1},</if>
            <if test="data2 != null">#{data2},</if>
            <if test="data3 != null">#{data3},</if>
            <if test="data4 != null">#{data4},</if>
            <if test="data5 != null">#{data5},</if>
            <if test="data6 != null">#{data6},</if>
            <if test="data7 != null">#{data7},</if>
            <if test="data8 != null">#{data8},</if>
            <if test="data9 != null">#{data9},</if>
            <if test="data10 != null">#{data10},</if>
            <if test="orderTransactionId != null">#{orderTransactionId},</if>
            <if test="poNumber != null">#{poNumber},</if>
            <if test="transactionType != null">#{transactionType},</if>
            <if test="sendstate != null">#{sendstate},</if>
            <if test="executeempid != null">#{executeempid},</if>
            <if test="palletno != null">#{palletno},</if>
            <if test="transfertype != null">#{transfertype},</if>
            <if test="outproofid != null">#{outproofid},</if>
            <if test="outproofno != null">#{outproofno},</if>
            <if test="chukufangshi != null">#{chukufangshi},</if>
            <if test="sendStats != null">#{sendStats},</if>
         </trim>
    </insert>

    <update id="updateDeliveryproof" parameterType="Deliveryproof">
        update deliveryproof
        <trim prefix="SET" suffixOverrides=",">
            <if test="proofno != null">proofno = #{proofno},</if>
            <if test="prosource != null">prosource = #{prosource},</if>
            <if test="orderno != null">orderno = #{orderno},</if>
            <if test="inboxno != null">inboxno = #{inboxno},</if>
            <if test="iswmsCheck != null">iswms_check = #{iswmsCheck},</if>
            <if test="protype != null and protype != ''">protype = #{protype},</if>
            <if test="prodate != null">prodate = #{prodate},</if>
            <if test="proempid != null">proempid = #{proempid},</if>
            <if test="partnerid != null">partnerid = #{partnerid},</if>
            <if test="transportinfo != null">transportinfo = #{transportinfo},</if>
            <if test="prostate != null">prostate = #{prostate},</if>
            <if test="depotno != null">depotno = #{depotno},</if>
            <if test="totalvolume != null">totalvolume = #{totalvolume},</if>
            <if test="totalweight != null">totalweight = #{totalweight},</if>
            <if test="prodesc != null">prodesc = #{prodesc},</if>
            <if test="dataversion != null">dataversion = #{dataversion},</if>
            <if test="data1 != null">data1 = #{data1},</if>
            <if test="data2 != null">data2 = #{data2},</if>
            <if test="data3 != null">data3 = #{data3},</if>
            <if test="data4 != null">data4 = #{data4},</if>
            <if test="data5 != null">data5 = #{data5},</if>
            <if test="data6 != null">data6 = #{data6},</if>
            <if test="data7 != null">data7 = #{data7},</if>
            <if test="data8 != null">data8 = #{data8},</if>
            <if test="data9 != null">data9 = #{data9},</if>
            <if test="data10 != null">data10 = #{data10},</if>
            <if test="orderTransactionId != null">order_transaction_id = #{orderTransactionId},</if>
            <if test="poNumber != null">po_number = #{poNumber},</if>
            <if test="transactionType != null">transaction_type = #{transactionType},</if>
            <if test="sendstate != null">sendstate = #{sendstate},</if>
            <if test="executeempid != null">executeempid = #{executeempid},</if>
            <if test="palletno != null">palletno = #{palletno},</if>
            <if test="transfertype != null">transfertype = #{transfertype},</if>
            <if test="outproofid != null">outproofid = #{outproofid},</if>
            <if test="outproofno != null">outproofno = #{outproofno},</if>
            <if test="chukufangshi != null">chukufangshi = #{chukufangshi},</if>
            <if test="sendStats != null">send_stats = #{sendStats},</if>
        </trim>
        where inproofid = #{inproofid}
    </update>

    <delete id="deleteDeliveryproofByInproofid" parameterType="Long">
        delete from deliveryproof where inproofid = #{inproofid}
    </delete>

    <delete id="deleteDeliveryproofByInproofids" parameterType="String">
        delete from deliveryproof where inproofid in
        <foreach item="inproofid" collection="array" open="(" separator="," close=")">
            #{inproofid}
        </foreach>
    </delete>

    <!-- 查询待同步的 OUTPROOFID 列表：transaction_type=5、outstate=2、data7 非空、且尚未同步 -->
    <select id="selectPendingOutProofIds" resultType="java.lang.Long">
        SELECT OUTPROOFID FROM (
        SELECT ROOF.OUTPROOFID,(select sum(FINISHQTY)  from OUTBILL bill where bill.OUTPROOFID=roof.OUTPROOFID) as FINISHQTY
        FROM OUTPROOF ROOF
        WHERE ROOF.TRANSACTION_TYPE = '5'
        AND ROOF.OUTSTATE = '2'
        AND ROOF.DATA1 IS NULL
        AND NOT EXISTS (
        SELECT 1 FROM DELIVERYPROOF DP WHERE DP.INPROOFID = ROOF.OUTPROOFID
        )
        ORDER BY ROOF.DATA7 DESC
        ) WHERE FINISHQTY>0 and ROWNUM &lt; 100
    </select>

    <!-- 根据单个 OUTPROOFID 将该出库凭证写入 DELIVERYPROOF；INPROOFID 直接沿用 OUTPROOFID。
         这是 INSERT...SELECT，需关闭全局 useGeneratedKeys，否则 Oracle 报 ORA-00933。 -->
    <insert id="insertDeliveryProofById" parameterType="Long" useGeneratedKeys="false">
        INSERT INTO DELIVERYPROOF (
        INPROOFID, PROOFNO, PROSOURCE, ORDERNO, INBOXNO, ISWMS_CHECK, PROTYPE,
        PRODATE, PROEMPID, PARTNERID, TRANSPORTINFO, PROSTATE, DEPOTNO, TOTALVOLUME,
        TOTALWEIGHT, PRODESC, DATAVERSION, DATA1, DATA2, DATA3, DATA4, DATA5, DATA6,
        DATA7, DATA8, DATA9, DATA10, ORDER_TRANSACTION_ID, PO_NUMBER, TRANSACTION_TYPE,
        SENDSTATE, EXECUTEEMPID, PALLETNO, TRANSFERTYPE, OUTPROOFID, OUTPROOFNO,
        CHUKUFANGSHI, SEND_STATS
        )
        SELECT
        ROOF.OUTPROOFID AS INPROOFID,
        ROOF.OUTPROOFNO AS PROOFNO,
        '1' AS PROSOURCE,
        ROOF.ORDERNO AS ORDERNO,
        NULL AS INBOXNO,
        NULL AS ISWMS_CHECK,
        ROOF.PROTYPE AS PROTYPE,
        SYSDATE AS PRODATE,
        ROOF.PROEMPID AS PROEMPID,
        ROOF.PARTNERID AS PARTNERID,
        NULL AS TRANSPORTINFO,
        0 AS PROSTATE,
        ROOF.DEPOTNO AS DEPOTNO,
        NULL AS TOTALVOLUME,
        NULL AS TOTALWEIGHT,
        ROOF.PRODESC AS PRODESC,
        1 AS DATAVERSION,
        NULL AS DATA1,
        NULL AS DATA2,
        NULL AS DATA3,
        NULL AS DATA4,
        NULL AS DATA5,
        NULL AS DATA6,
        NULL AS DATA7,
        'N' AS DATA8,
        NULL AS DATA9,
        NULL AS DATA10,
        NULL AS ORDER_TRANSACTION_ID,
        ROOF.PO_NUMBER AS PO_NUMBER,
        NULL AS TRANSACTION_TYPE,
        NULL AS SENDSTATE,
        NULL AS EXECUTEEMPID,
        NULL AS PALLETNO,
        0 AS TRANSFERTYPE,
        NULL AS OUTPROOFID,
        NULL AS OUTPROOFNO,
        NULL AS CHUKUFANGSHI,
        NULL AS SEND_STATS
        FROM OUTPROOF ROOF
        WHERE ROOF.OUTPROOFID = #{inproofid}
    </insert>
</mapper>