<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RepertoryMapper">

    <resultMap type="Repertory" id="RepertoryResult">
        <result property="repertoryid" column="repertoryid"/>
        <result property="storeroomid" column="storeroomid"/>
        <result property="storesiteid" column="storesiteid"/>
        <result property="materialid" column="materialid"/>
        <result property="batchno" column="batchno"/>
        <result property="sn" column="sn"/>
        <result property="repqty" column="repqty"/>
        <result property="repColor" column="rep_color"/>
        <result property="repProperty" column="rep_property"/>
        <result property="repOwnerCode" column="rep_owner_code"/>
        <result property="repOwnerName" column="rep_owner_name"/>
        <result property="repOrg" column="rep_org"/>
        <result property="secondrepqty" column="secondrepqty"/>
        <result property="createtime" column="createtime"/>
        <result property="updatetime" column="updatetime"/>
        <result property="repprovider" column="repprovider"/>
        <result property="repstate" column="repstate"/>
        <result property="isfrozen" column="isfrozen"/>
        <result property="islocked" column="islocked"/>
        <result property="repdesc" column="repdesc"/>
        <result property="dataversion" column="dataversion"/>
        <result property="data1" column="data1"/>
        <result property="data2" column="data2"/>
        <result property="data3" column="data3"/>
        <result property="data4" column="data4"/>
        <result property="data5" column="data5"/>
        <result property="data6" column="data6"/>
        <result property="data7" column="data7"/>
        <result property="data8" column="data8"/>
        <result property="erpStoreroom" column="erp_storeroom"/>
        <result property="palletno" column="palletno"/>
        <result property="occupyqty" column="occupyqty"/>
        <result property="palletstate" column="palletstate"/>
        <result property="projectNum" column="project_num"/>
        <result property="orderno" column="orderno"/>
        <result property="productline" column="productline"/>
        <result property="workstation" column="workstation"/>
        <result property="operationSeqNum" column="operation_seq_num"/>
        <result property="wholesetno" column="wholesetno"/>
        <result property="isfrozenbak" column="isfrozenbak"/>
        <result property="inserttime" column="inserttime"/>
        <result property="occupyOrderno" column="occupy_orderno"/>
        <result property="frozenuser" column="frozenuser"/>
        <result property="frozenuserbak" column="frozenuserbak"/>

        <result property="parno" column="parno"/>
        <result property="amount" column="amount"/>
        <result property="storesiteno" column="storesiteno"/>
        <result property="matcode" column="matcode"/>
        <result property="storeroomname" column="storeroomname"/>
        <result property="storeroomno" column="storeroomno"/>
        <result property="matinnercode" column="matinnercode"/>
        <result property="matname" column="matname"/>
        <result property="matunit" column="matunit"/>
        <result property="matmodel" column="matmodel"/>
        <result property="name" column="name"/>
        <result property="repstate_nm" column="repstate_nm"/>
        <result property="isfrozen_nm" column="isfrozen_nm"/>
        <result property="parname" column="parname"/>
        <result property="matycode" column="matycode"/>
        <result property="matyname" column="matyname"/>
        <result property="matcodecontrol" column="matcodecontrol"/>
        <result property="qualflg" column="qualflg"/>
    </resultMap>

    <sql id="selectRepertoryVo">
        select repertoryid, storeroomid, storesiteid, materialid, batchno, sn, repqty, rep_color, rep_property, rep_owner_code, rep_owner_name, rep_org, secondrepqty, createtime, updatetime, repprovider, repstate, isfrozen, islocked, repdesc, dataversion, data1, data2, data3, data4, data5, data6, data7, data8, erp_storeroom, palletno, occupyqty, palletstate, project_num, orderno, productline, workstation, operation_seq_num, wholesetno, isfrozenbak, inserttime, occupy_orderno, frozenuser, frozenuserbak from repertory
    </sql>

    <select id="selectRepertoryList" parameterType="Repertory" resultMap="RepertoryResult">
        <include refid="selectRepertoryVo"/>
        <where>
            <if test="storeroomid != null ">and storeroomid = #{storeroomid}</if>
            <if test="storesiteid != null ">and storesiteid = #{storesiteid}</if>
            <if test="materialid != null ">and materialid = #{materialid}</if>
            <if test="batchno != null  and batchno != ''">and batchno = #{batchno}</if>
            <if test="sn != null  and sn != ''">and sn = #{sn}</if>
            <if test="repqty != null ">and repqty = #{repqty}</if>
            <if test="repColor != null  and repColor != ''">and rep_color = #{repColor}</if>
            <if test="repProperty != null  and repProperty != ''">and rep_property = #{repProperty}</if>
            <if test="repOwnerCode != null  and repOwnerCode != ''">and rep_owner_code = #{repOwnerCode}</if>
            <if test="repOwnerName != null  and repOwnerName != ''">and rep_owner_name like concat('%', #{repOwnerName},
                '%')
            </if>
            <if test="repOrg != null  and repOrg != ''">and rep_org = #{repOrg}</if>
            <if test="secondrepqty != null ">and secondrepqty = #{secondrepqty}</if>
            <if test="createtime != null ">and createtime = #{createtime}</if>
            <if test="updatetime != null ">and updatetime = #{updatetime}</if>
            <if test="repprovider != null ">and repprovider = #{repprovider}</if>
            <if test="repstate != null ">and repstate = #{repstate}</if>
            <if test="isfrozen != null  and isfrozen != ''">and isfrozen = #{isfrozen}</if>
            <if test="islocked != null  and islocked != ''">and islocked = #{islocked}</if>
            <if test="repdesc != null  and repdesc != ''">and repdesc = #{repdesc}</if>
            <if test="dataversion != null ">and dataversion = #{dataversion}</if>
            <if test="data1 != null  and data1 != ''">and data1 = #{data1}</if>
            <if test="data2 != null  and data2 != ''">and data2 = #{data2}</if>
            <if test="data3 != null  and data3 != ''">and data3 = #{data3}</if>
            <if test="data4 != null  and data4 != ''">and data4 = #{data4}</if>
            <if test="data5 != null  and data5 != ''">and data5 = #{data5}</if>
            <if test="data6 != null  and data6 != ''">and data6 = #{data6}</if>
            <if test="data7 != null  and data7 != ''">and data7 = #{data7}</if>
            <if test="data8 != null  and data8 != ''">and data8 = #{data8}</if>
            <if test="erpStoreroom != null  and erpStoreroom != ''">and erp_storeroom = #{erpStoreroom}</if>
            <if test="palletno != null  and palletno != ''">and palletno = #{palletno}</if>
            <if test="occupyqty != null ">and occupyqty = #{occupyqty}</if>
            <if test="palletstate != null ">and palletstate = #{palletstate}</if>
            <if test="projectNum != null  and projectNum != ''">and project_num = #{projectNum}</if>
            <if test="orderno != null  and orderno != ''">and orderno = #{orderno}</if>
            <if test="productline != null  and productline != ''">and productline = #{productline}</if>
            <if test="workstation != null  and workstation != ''">and workstation = #{workstation}</if>
            <if test="operationSeqNum != null ">and operation_seq_num = #{operationSeqNum}</if>
            <if test="wholesetno != null  and wholesetno != ''">and wholesetno = #{wholesetno}</if>
            <if test="isfrozenbak != null  and isfrozenbak != ''">and isfrozenbak = #{isfrozenbak}</if>
            <if test="inserttime != null ">and inserttime = #{inserttime}</if>
            <if test="occupyOrderno != null  and occupyOrderno != ''">and occupy_orderno = #{occupyOrderno}</if>
            <if test="frozenuser != null  and frozenuser != ''">and frozenuser = #{frozenuser}</if>
            <if test="frozenuserbak != null  and frozenuserbak != ''">and frozenuserbak = #{frozenuserbak}</if>
        </where>
    </select>

    <select id="selectRepertoryByRepertoryid" parameterType="Long" resultMap="RepertoryResult">
    </select>

    <insert id="insertRepertory" parameterType="Repertory" useGeneratedKeys="true" keyProperty="repertoryid">
        insert into repertory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeroomid != null">storeroomid,</if>
            <if test="storesiteid != null">storesiteid,</if>
            <if test="materialid != null">materialid,</if>
            <if test="batchno != null and batchno != ''">batchno,</if>
            <if test="sn != null">sn,</if>
            <if test="repqty != null">repqty,</if>
            <if test="repColor != null">rep_color,</if>
            <if test="repProperty != null">rep_property,</if>
            <if test="repOwnerCode != null">rep_owner_code,</if>
            <if test="repOwnerName != null">rep_owner_name,</if>
            <if test="repOrg != null">rep_org,</if>
            <if test="secondrepqty != null">secondrepqty,</if>
            <if test="createtime != null">createtime,</if>
            <if test="updatetime != null">updatetime,</if>
            <if test="repprovider != null">repprovider,</if>
            <if test="repstate != null">repstate,</if>
            <if test="isfrozen != null">isfrozen,</if>
            <if test="islocked != null">islocked,</if>
            <if test="repdesc != null">repdesc,</if>
            <if test="dataversion != null">dataversion,</if>
            <if test="data1 != null">data1,</if>
            <if test="data2 != null">data2,</if>
            <if test="data3 != null">data3,</if>
            <if test="data4 != null">data4,</if>
            <if test="data5 != null">data5,</if>
            <if test="data6 != null">data6,</if>
            <if test="data7 != null">data7,</if>
            <if test="data8 != null">data8,</if>
            <if test="erpStoreroom != null">erp_storeroom,</if>
            <if test="palletno != null">palletno,</if>
            <if test="occupyqty != null">occupyqty,</if>
            <if test="palletstate != null">palletstate,</if>
            <if test="projectNum != null">project_num,</if>
            <if test="orderno != null">orderno,</if>
            <if test="productline != null">productline,</if>
            <if test="workstation != null">workstation,</if>
            <if test="operationSeqNum != null">operation_seq_num,</if>
            <if test="wholesetno != null">wholesetno,</if>
            <if test="isfrozenbak != null">isfrozenbak,</if>
            <if test="inserttime != null">inserttime,</if>
            <if test="occupyOrderno != null">occupy_orderno,</if>
            <if test="frozenuser != null">frozenuser,</if>
            <if test="frozenuserbak != null">frozenuserbak,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeroomid != null">#{storeroomid},</if>
            <if test="storesiteid != null">#{storesiteid},</if>
            <if test="materialid != null">#{materialid},</if>
            <if test="batchno != null and batchno != ''">#{batchno},</if>
            <if test="sn != null">#{sn},</if>
            <if test="repqty != null">#{repqty},</if>
            <if test="repColor != null">#{repColor},</if>
            <if test="repProperty != null">#{repProperty},</if>
            <if test="repOwnerCode != null">#{repOwnerCode},</if>
            <if test="repOwnerName != null">#{repOwnerName},</if>
            <if test="repOrg != null">#{repOrg},</if>
            <if test="secondrepqty != null">#{secondrepqty},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="updatetime != null">#{updatetime},</if>
            <if test="repprovider != null">#{repprovider},</if>
            <if test="repstate != null">#{repstate},</if>
            <if test="isfrozen != null">#{isfrozen},</if>
            <if test="islocked != null">#{islocked},</if>
            <if test="repdesc != null">#{repdesc},</if>
            <if test="dataversion != null">#{dataversion},</if>
            <if test="data1 != null">#{data1},</if>
            <if test="data2 != null">#{data2},</if>
            <if test="data3 != null">#{data3},</if>
            <if test="data4 != null">#{data4},</if>
            <if test="data5 != null">#{data5},</if>
            <if test="data6 != null">#{data6},</if>
            <if test="data7 != null">#{data7},</if>
            <if test="data8 != null">#{data8},</if>
            <if test="erpStoreroom != null">#{erpStoreroom},</if>
            <if test="palletno != null">#{palletno},</if>
            <if test="occupyqty != null">#{occupyqty},</if>
            <if test="palletstate != null">#{palletstate},</if>
            <if test="projectNum != null">#{projectNum},</if>
            <if test="orderno != null">#{orderno},</if>
            <if test="productline != null">#{productline},</if>
            <if test="workstation != null">#{workstation},</if>
            <if test="operationSeqNum != null">#{operationSeqNum},</if>
            <if test="wholesetno != null">#{wholesetno},</if>
            <if test="isfrozenbak != null">#{isfrozenbak},</if>
            <if test="inserttime != null">#{inserttime},</if>
            <if test="occupyOrderno != null">#{occupyOrderno},</if>
            <if test="frozenuser != null">#{frozenuser},</if>
            <if test="frozenuserbak != null">#{frozenuserbak},</if>
        </trim>
    </insert>

    <update id="updateRepertory" parameterType="Repertory">
        update repertory
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeroomid != null">storeroomid = #{storeroomid},</if>
            <if test="storesiteid != null">storesiteid = #{storesiteid},</if>
            <if test="materialid != null">materialid = #{materialid},</if>
            <if test="batchno != null and batchno != ''">batchno = #{batchno},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="repqty != null">repqty = #{repqty},</if>
            <if test="repColor != null">rep_color = #{repColor},</if>
            <if test="repProperty != null">rep_property = #{repProperty},</if>
            <if test="repOwnerCode != null">rep_owner_code = #{repOwnerCode},</if>
            <if test="repOwnerName != null">rep_owner_name = #{repOwnerName},</if>
            <if test="repOrg != null">rep_org = #{repOrg},</if>
            <if test="secondrepqty != null">secondrepqty = #{secondrepqty},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="updatetime != null">updatetime = #{updatetime},</if>
            <if test="repprovider != null">repprovider = #{repprovider},</if>
            <if test="repstate != null">repstate = #{repstate},</if>
            <if test="isfrozen != null">isfrozen = #{isfrozen},</if>
            <if test="islocked != null">islocked = #{islocked},</if>
            <if test="repdesc != null">repdesc = #{repdesc},</if>
            <if test="dataversion != null">dataversion = #{dataversion},</if>
            <if test="data1 != null">data1 = #{data1},</if>
            <if test="data2 != null">data2 = #{data2},</if>
            <if test="data3 != null">data3 = #{data3},</if>
            <if test="data4 != null">data4 = #{data4},</if>
            <if test="data5 != null">data5 = #{data5},</if>
            <if test="data6 != null">data6 = #{data6},</if>
            <if test="data7 != null">data7 = #{data7},</if>
            <if test="data8 != null">data8 = #{data8},</if>
            <if test="erpStoreroom != null">erp_storeroom = #{erpStoreroom},</if>
            <if test="palletno != null">palletno = #{palletno},</if>
            <if test="occupyqty != null">occupyqty = #{occupyqty},</if>
            <if test="palletstate != null">palletstate = #{palletstate},</if>
            <if test="projectNum != null">project_num = #{projectNum},</if>
            <if test="orderno != null">orderno = #{orderno},</if>
            <if test="productline != null">productline = #{productline},</if>
            <if test="workstation != null">workstation = #{workstation},</if>
            <if test="operationSeqNum != null">operation_seq_num = #{operationSeqNum},</if>
            <if test="wholesetno != null">wholesetno = #{wholesetno},</if>
            <if test="isfrozenbak != null">isfrozenbak = #{isfrozenbak},</if>
            <if test="inserttime != null">inserttime = #{inserttime},</if>
            <if test="occupyOrderno != null">occupy_orderno = #{occupyOrderno},</if>
            <if test="frozenuser != null">frozenuser = #{frozenuser},</if>
            <if test="frozenuserbak != null">frozenuserbak = #{frozenuserbak},</if>
        </trim>
        where repertoryid = #{repertoryid}
    </update>

    <delete id="deleteRepertoryByRepertoryid" parameterType="Long">
        delete from repertory where repertoryid = #{repertoryid}
    </delete>

    <delete id="deleteRepertoryByRepertoryids" parameterType="String">
        delete from repertory where repertoryid in
        <foreach item="repertoryid" collection="array" open="(" separator="," close=")">
            #{repertoryid}
        </foreach>
    </delete>

    <select id="selectLSMtlRepertoryByMatNo" parameterType="Repertory" resultMap="RepertoryResult">
                            select pm.matcode, -- 物料代码,
                                               sum(r.repqty) as repqty  --库存量,
                                          from repertory r
                                          join storesite s
                                            on s.storesiteid = r.storesiteid
                                          join STOREROOM rm
                                            on rm.STOREROOMID = r.STOREROOMID
                                          join pm_material pm
                                            on pm.pm_materialid = r.materialid
                                         where pm.matcode = #{matCode}
                                           and r.repqty > 0 and rm.ALLOTFLAG = 0
                                         group by  pm.matcode
    </select>
    <select id="selectLSMtlRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
                            select s.storesiteno, --库位代码,
                                               pm.matcode, -- 物料代码,
                                               sum(r.repqty) as repqty, --库存量,
                                               r.rep_owner_code as parno, --拥有方
                                               r.erp_storeroom,
                                               count(*) as amount
                                          from repertory r
                                          join storesite s
                                            on s.storesiteid = r.storesiteid
                                          join STOREROOM rm
                                            on rm.STOREROOMID = r.STOREROOMID
                                          join partner p
                                            on p.partnerid = r.repprovider
                                          join pm_material pm
                                            on pm.pm_materialid = r.materialid
                                         where pm.matcode = #{matCode}
                                         and s.storesiteno = #{storeSite}
                                         and r.repqty > 0 and rm.ALLOTFLAG = 0
                                         group by s.storesiteno, pm.matcode, rep_owner_code, r.erp_storeroom
    </select>

    <select id="selectMtlRepertoryByMatNo" parameterType="Repertory" resultMap="RepertoryResult">
                            select pm.matcode, -- 物料代码,
                                               sum(r.repqty) as repqty  --库存量,
                                          from repertory r
                                          join storesite s
                                            on s.storesiteid = r.storesiteid
                                          join pm_material pm
                                            on pm.pm_materialid = r.materialid
                                         where pm.matcode = #{matCode}
                                           and r.repqty > 0
                                         group by  pm.matcode
    </select>
    <select id="selectMtlRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
                            select s.storesiteno, --库位代码,
                                               pm.matcode, -- 物料代码,
                                               sum(r.repqty) as repqty, --库存量,
                                               r.rep_owner_code as parno, --拥有方
                                               r.erp_storeroom,
                                               count(*) as amount
                                          from repertory r
                                          join storesite s
                                            on s.storesiteid = r.storesiteid
                                          join partner p
                                            on p.partnerid = r.repprovider
                                          join pm_material pm
                                            on pm.pm_materialid = r.materialid
                                         where pm.matcode = #{matCode}
                                         and s.storesiteno = #{storeSite}
                                         and r.repqty > 0
                                         group by s.storesiteno, pm.matcode, rep_owner_code, r.erp_storeroom
    </select>

    <select id="selectMtlRepertoryByStoresiteNo3" parameterType="Repertory" resultMap="RepertoryResult">
        select s.storesiteno, --库位代码,
        pm.matcode, -- 物料代码
        sum(r.repqty) as repqty --库存量
        from repertory r
        join storesite s
        on s.storesiteid = r.storesiteid
        join partner p
        on p.partnerid = r.repprovider
        join pm_material pm
        on pm.pm_materialid = r.materialid
        where pm.matcode = #{matCode}
        and s.storesiteno = #{storeSite}
        and r.repqty > 0
        group by s.storesiteno, pm.matcode
    </select>


     <select id="selectMtlRepertoryByStoresiteNo2" parameterType="Repertory" resultMap="RepertoryResult">
                             select rr.repqty-rr2.COLQTY as repqty from (
                                          SELECT
                                               nvl(sum(r.repqty),0) as repqty --库存量,

                                          from repertory r
                                          join storesite s
                                            on s.storesiteid = r.storesiteid
                                          join pm_material pm
                                            ON PM.PM_MATERIALID = R.MATERIALID

                                         WHERE PM.MATCODE = #{matCode}
                                         AND S.STORESITENO = #{storeSite}
                                         AND R.REPQTY > 0)rr  left join (
                                          SELECT
                                               NVL(SUM(R.QTY),0) AS COLQTY --库存量,
                                          from OUTCOLLECTDATA r
                                          JOIN STORESITE S

                                            ON S.STORESITEID = R.OUTSITE

                                          join pm_material pm
                                            ON PM.PM_MATERIALID = R.MATERIALID

                                         WHERE PM.MATCODE = #{matCode}
                                         AND S.STORESITENO = #{storeSite}
                                         and r.CSTATE =0
                                         )rr2 on 1=1

    </select>

<!--nvl(GetCollectQtyBySiteMat(r.storesiteid,r.materialid,r.batchno, r.sn,r.erp_storeroom),0))-->
   <!-- <select id="GetRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
        select
        s.storesiteno,
        pm.matcode,
        (sum(r.repqty-nvl(GetCollectQtyBySiteMat(r.storesiteid,r.materialid,r.batchno, r.sn,r.erp_storeroom),0)))  as repqty
        from
        repertory r,
        storesite s,
        pm_material pm
        where s.storesiteid = r.storesiteid and pm.pm_materialid = r.materialid

        <if test="storesiteno != null">and s.storesiteno = #{storesiteno}</if>
        <if test="matcode != null">and pm.matcode = #{matcode}</if>
        <if test="erpStoreroom != null">and r.erp_storeroom = #{erpStoreroom}</if>
        <if test="batchno != null">and r.batchno = #{batchno}</if>
        <if test="sn != null">and r.sn = #{sn}</if>
        group by
        s.storesiteno,
        pm.matcode
    </select>-->
  <!--  <select id="GetRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
        select aa.* from (
        select s.storesiteno,
        pm.matcode,
        r.rep_owner_code as parno,
        r.batchno,
        r.sn,
        r.erp_storeroom,
        r.project_num,
        r.rep_owner_code,
        (sum(r.repqty)-nvl(GetCollectQtyBySiteMat(r.storesiteid,r.materialid,r.batchno, r.sn,r.erp_storeroom),0))  as repqty
        from
        repertory r,
        storesite s,
        pm_material pm
        where s.storesiteid = r.storesiteid and pm.pm_materialid = r.materialid

        <if test="storesiteno != null">and s.storesiteno = #{storesiteno}</if>
        <if test="matcode != null">and pm.matcode = #{matcode}</if>
        <if test="erpStoreroom != null">and r.erp_storeroom = #{erpStoreroom}</if>
        <if test="batchno != null">and r.batchno = #{batchno}</if>
        <if test="sn != null">and r.sn = #{sn}</if>

        group by s.storesiteno,
        pm.matcode,
        r.rep_owner_code,
        r.batchno,
        r.sn,
        r.erp_storeroom,
        r.project_num,
        r.rep_owner_code,
        r.storesiteid,r.materialid
        )aa where aa.repqty>0
    </select>
    <select id="GetUnRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
               select
         s.storesiteno,
         pm.matcode,
         a.batchno,
         a.sn,
         a.data1 as erp_storeroom,
         sum(a.qty) as repqty
        from
        outcollectdata a,
        dc_connect b,
        storesite s,
        pm_material pm
       where a.dc_connectid = b.dc_connectid and
             a.outsite = s.storesiteid and
             a.materialid = pm.pm_materialid and
             (nvl(b.constate,-1) = -1 or nvl(b.constate,-1) = 1)

        <if test="storesiteno != null">and s.storesiteno = #{storesiteno}</if>
        <if test="matcode != null">and pm.matcode = #{matcode}</if>
         group by s.storesiteno, pm.matcode, a.batchno, a.sn, a.data1
    </select>-->

    <select id="GetRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
           select
       aa.parno,
        aa.batchno,
        aa.sn,
        aa.erp_storeroom,
        aa.project_num,
        aa.rep_owner_code,
        aa.repqty-nvl(GetCollectQtyBySiteMat(aa.storesiteid,aa.materialid,aa.batchno, aa.sn,aa.erp_storeroom),0) as repqty
       from (
        select
        r.rep_owner_code as parno,
        r.batchno,
        r.sn,
        r.erp_storeroom,
        r.project_num,
        r.rep_owner_code,
         r.storesiteid,
        r.materialid,
        SUM(r.repqty) as repqty
        from
        repertory r
        where 1=1 and r.repqty>0
        <if test="storesiteid != null">and R.STORESITEID = #{storesiteid}</if>
        <if test="materialid != null">and R.MATERIALID = #{materialid}</if>
      group by r.rep_owner_code, r.batchno, r.sn, r.erp_storeroom, r.project_num, r.rep_owner_code, r.storesiteid, r.materialid
        )aa where aa.repqty-nvl(GetCollectQtyBySiteMat(aa.storesiteid,aa.materialid,aa.batchno, aa.sn,aa.erp_storeroom),0)>0
    </select>

    <select id="GetRepertoryByStoresiteNoSn" parameterType="Repertory" resultMap="RepertoryResult">
          select
        nvl(SUM(aa.repqty-nvl(GetCollectQtyBySiteMat(aa.storesiteid,aa.materialid,aa.batchno, aa.sn,aa.erp_storeroom),0)),0) as repqty
       from (
        select
        r.rep_owner_code as parno,
        r.batchno,
        r.sn,
        r.erp_storeroom,
        r.project_num,
        r.rep_owner_code,
         r.storesiteid,
        r.materialid,
        SUM(r.repqty) as repqty
        from
        repertory r
        where 1=1 and r.repqty>0
        <if test="storesiteid != null">and R.STORESITEID = #{storesiteid}</if>
        <if test="materialid != null">and R.MATERIALID = #{materialid}</if>
        <if test="erpStoreroom != null">and r.erp_storeroom = #{erpStoreroom}</if>
        <if test="batchno != null">and r.batchno = #{batchno}</if>
        <if test="sn != null">and r.sn = #{sn}</if>
            group by r.rep_owner_code, r.batchno, r.sn, r.erp_storeroom, r.project_num, r.rep_owner_code, r.storesiteid, r.materialid
        )aa where aa.repqty-nvl(GetCollectQtyBySiteMat(aa.storesiteid,aa.materialid,aa.batchno, aa.sn,aa.erp_storeroom),0)>0

    </select>

    <select id="GetRepertoryByStoresiteNoErp" parameterType="Repertory" resultMap="RepertoryResult">
        select
        erp_storeroom
        from
        repertory r
        where 1=1 and r.repqty > 0 and  rownum &lt; 2
        <if test="storesiteid != null">and R.STORESITEID = #{storesiteid}</if>
        <if test="materialid != null">and R.MATERIALID = #{materialid}</if>
    </select>

    <select id="GetUnRepertoryByStoresiteNo" parameterType="Repertory" resultMap="RepertoryResult">
        select
        s.storesiteno,
        pm.matcode,
        a.batchno,
        a.sn,
        a.data1 as erp_storeroom,
        sum(a.qty) as repqty
        from
        outcollectdata a,
        dc_connect b,
        storesite s,
        pm_material pm
        where a.dc_connectid = b.dc_connectid and
        a.outsite = s.storesiteid and
        a.materialid = pm.pm_materialid and
        (nvl(b.constate,-1) = -1 or nvl(b.constate,-1) = 1)

        <if test="storesiteno != null">and s.storesiteno = #{storesiteno}</if>
        <if test="matcode != null">and pm.matcode = #{matcode}</if>
        group by s.storesiteno, pm.matcode, a.batchno, a.sn, a.data1
    </select>

    <select id="GetRepertoryByBarCode" parameterType="Repertory" resultMap="RepertoryResult">
       SELECT
        AA.MATCODE,
        AA.MATNAME,
        SUM(AA.REPQTY) AS REPQTY,
        AA.BATCHNO,
        AA.SN,
        AA.STORESITENO,
        AA.ERP_STOREROOM,
        AA.PALLETNO,
        AA.STOREROOMNO,
        AA.STOREROOMNAME
        FROM(

        SELECT
        PM.MATCODE,
        SS.STORESITENO,
        T.REPQTY,
        T.BATCHNO,
        T.SN,
        SM.STOREROOMNAME,
        T.ERP_STOREROOM,
        T.PALLETNO,
        T.REPERTORYID,
        T.STOREROOMID,
        T.STORESITEID,
        SM.STOREROOMNO,
        PM.MATINNERCODE,
        PM.MATNAME,
        PM.MATUNIT,
        PM.MATMODEL,
        DD.NAME,
        T.REPSTATE,
        DECODE(T.REPSTATE,0,'正常',1,'不良',2,'检验中') AS REPSTATE_nm,
        T.REP_OWNER_NAME,
        T.REP_OWNER_CODE,
        T.ISFROZEN AS ISFROZEN,
        DECODE(T.ISFROZEN,0,'正常',1,'冻结',1,'锁定') AS ISFROZEN_nm,
        p.PARNO,
        P.PARNAME,
        T.CREATETIME,
        T.INSERTTIME,
        TO_NUMBER(T.Occupyqty) AS DATA1,
        T.OCCUPYQTY,
        PT.MATYCODE,
        PT.MATYNAME,
        PM.MATCODECONTROL,
        T.PROJECT_NUM,
        T.ORDERNO,
        NVL(T.WORKSTATION,'无') AS WORKSTATION,
        T.OCCUPY_ORDERNO,
        T.PRODUCTLINE,
        T.WHOLESETNO,
        T.FROZENUSER,
        T.FROZENUSERBAK,
        CASE WHEN T.data8='1' THEN '合格品退库' ELSE '正常' END AS QUALFLG
        FROM REPERTORY T,
        STOREROOM SM,
        STORESITE SS,
        PM_MATERIAL PM,
        PM_MATTYPE PT,
        PARTNER P,
        BB_DICTIONARY DD
        WHERE T.STOREROOMID =SM.STOREROOMID(+)
        AND T.STORESITEID =SS.STORESITEID(+)
        AND T.MATERIALID =PM.PM_MATERIALID
        AND PM.PM_MATTYPEID =PT.PM_MATTYPEID
        AND T.REPPROVIDER =P.PARTNERID(+)
        AND T.REPQTY >0
        AND DD.BB_DICTIONARYID=PM.MATUNIT(+)
        <if test="storesiteno != null">and SS.storesiteno = #{storesiteno}</if>
        <if test="matCode != null">and pm.matcode = #{matCode}</if>
        <if test="palletno != null">and T.PALLETNO = #{palletno}</if>

        )AA GROUP BY
         AA.MATCODE,
        AA.MATNAME,
        AA.BATCHNO,
        AA.SN,
        AA.STORESITENO,
        AA.ERP_STOREROOM,
        AA.PALLETNO,
        AA.STOREROOMNO,
        AA.STOREROOMNAME

    </select>

    <select id="GetPalletSiteNo" parameterType="String" resultMap="RepertoryResult">
        select
        *
        from
        repertory r
        where 1=1 and r.repqty > 0 and R.palletno = #{palletno} and rownum &lt; 2
    </select>

        <select id="GetRepertoryBySiteNoMatCode" parameterType="Repertory" resultMap="RepertoryResult">

                                             select matcode,
                                                    sum(repqty) as repqty,
                                                    batchno as batchno,
                                                    PROJECT_NUM as PROJECT_NUM,
                                                    storesiteno as storesiteno,
                                                    erp_storeroom as erp_storeroom,
                                                    REP_OWNER_CODE as REP_OWNER_CODE,
                                                    palletno as palletno,
                                                    sn as sn,
                                                    storeroomname as storeroomname
                                               from wms_queryrepertory_vw
                                              where 1=1
                                              <if test="storesiteno != null">and storesiteno = #{storesiteno}</if>
                                              <if test="matCode != null">and matcode = #{matCode}</if>

                                             group by storesiteno, matcode, batchno, sn, storeroomname,erp_storeroom,palletno,PROJECT_NUM,REP_OWNER_CODE
                                             order by storesiteno, matcode, PROJECT_NUM, batchno, sn, erp_storeroom,REP_OWNER_CODE,palletno,storeroomname
    </select>

           <select id="GetRepertoryByStoresiteNoTransfer" parameterType="Repertory" resultMap="RepertoryResult">

                                             select s.storesiteno,
                                                    pm.matcode,
                                                    r.rep_owner_code as parno,
                                                    r.batchno,
                                                    r.sn,
                                                    r.erp_storeroom,
                                                    r.project_num,
                                                    r.rep_owner_code,
                                                    (sum(r.repqty) - nvl(GetCollectQtyBySiteMat(r.storesiteid,r.materialid,r.batchno, r.sn,r.erp_storeroom),0)) as repqty
                                                from repertory r
                                                join storesite s
                                                on s.storesiteid = r.storesiteid
                                                left join partner p
                                                on p.partnerid = r.repprovider
                                                join pm_material pm
                                                on pm.pm_materialid = r.materialid
                                                where r.repqty>0
                                                <if test="targetStoresiteNo == null">and (s.storesiteno = #{sourceStoresiteNo})</if>
                                                <if test="targetStoresiteNo != null">and (s.storesiteno = #{sourceStoresiteNo} or s.storesiteno = #{targetStoresiteNo} )</if>

                                                group by s.storesiteno, pm.matcode,r.storesiteid,r.materialid,r.rep_owner_code, r.batchno, r.sn,r.erp_storeroom,r.project_num
    </select>

               <select id="GetRepertoryTransfer" parameterType="Repertory" resultMap="RepertoryResult">

                                            select s.storesiteno,
                                                        pm.matcode,
                                                        -- p.parno,
                                                        r.*
                                                   from repertory r,
                                                        storesite s,
                                                        -- partner p,
                                                        pm_material pm
                                                  where s.storesiteid = r.storesiteid
                                                    -- and p.partnerid = r.repprovider
                                                    and pm.pm_materialid = r.materialid
                                                    and r.repqty > 0
                                                    and s.storesiteno in (#{filter})
    </select>
</mapper>
